@font-face {
  font-family: 'cursorgothic'; /* You can name this whatever you want */
  src: url('fonts/cursorgothic-regular.woff2') format('woff2');
}

:root {
  --primary-bg: #14120b;

  --primary-text-color: #edecec;
  --secondary-bg: #1b1913;
  --hover-text-color: #b2b1b1;
  --cta-btn-bg: #edecec;
  --cta-btn-text: #14120b;
  --cta-btn-hover-bg: #d7d6d5;
  --primary-font: 'cursorgothic', monospace;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 0;
  height: 48px;
  position: sticky;
  top: 0;
  /* width: 99vw; */
  padding-left: 26px;
  padding-right: 26px;
  background-color: var(--primary-bg);
}
.logo-container img {
  width: 95px;
  filter: brightness(0) invert(1);
}
.menu-container ul {
  display: flex;
  width: auto;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menu-container ul a {
  text-decoration: none;
  color: var(--primary-text-color);
  margin: 17px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  /* background-color: white; */
  font-family: var(--primary-font);
}
.menu-container ul a:hover {
  color: var(--hover-text-color);
  /* background: white; */
}
.btn-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding: 3px;
}
.dark-btn {
  background-color: var(--primary-bg);
  /* border: 1px solid var(--hover-text-color); */
  border: 1px solid #b2b1b1;
  cursor: pointer;
  width: 78px;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: lighter;
  border-radius: 15px;
  height: 27px;
  padding: auto;
}
.dark-btn:hover {
  background-color: var(--secondary-bg);
}
.light-btn {
  background-color: var(--cta-btn-bg);
  border: none;
  width: 78px;
  color: var(--primary-bg);
  font-family: var(--primary-font);
  font-weight: lighter;
  border-radius: 15px;
  height: 27px;
  padding: auto;
  margin-left: 8px;
  cursor: pointer;
}
.light-btn:hover {
  background-color: var(--cta-btn-hover-bg);
}

main {
  /* border: 1px solid red; */
  width: 99vw;
}
.hero-container {
  /* border: 1px solid white; */
  width: 96vw;
  margin: auto;
  height: 900px;
  margin-top: 110px;
  margin-bottom: 68px;
}
#hero-section {
  /* width:; */
  /* border: 1px solid green; */
  width: 680px;
  margin-bottom: 58px;
}

h1 {
  font-family: var(--primary-font);
  font-size: 26px;
  font-weight: lighter;
  margin-top: 0;
}
#hero-section button {
  background-color: var(--cta-btn-bg);
  border: none;
  height: 44px;
  margin-top: 12px;
  width: 230px;
  border-radius: 33px;
  font-size: 16px;
  cursor: pointer;
}

#hero-section button:hover {
  background-color: var(--cta-btn-hover-bg);
}

.hero-image-container {
  /* border: 1px solid red; */
  height: 680px;
  /* margin-bottom: 68px; */
  background-image: url(images/bg-img.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.hero-image-container img {
  margin: 60px 138px;
  height: 536px;
  width: 1024px;
  border-radius: 8px;
}

.clients {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.clients h2 {
  /* border: 1px solid white; */
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  width: 1300px;
  margin: auto;
}
.client-card-container {
  display: flex;
  gap: 10px;
  width: 1300px;
  margin: auto;
  /* border: 1px solid yellow; */
  margin-top: 22px;
}
.client-card {
  height: 98px;
  width: 152px;
  /* border: 1px solid red; */
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  border-radius: 4px;
}
.client-card img {
  width: 91px;
  height: 38px;
  /* border: 1px solid green; */
}
.section-container {
  display: flex;
  background-color: var(--secondary-bg);
  height: 685px;
  width: 1290px;
  /* border: 1px solid pink; */
  border-radius: 4px;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 60px;
  gap: 2px;
}

.text-container {
  height: 648px;
  width: 398px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 18px;
  gap: 1px;
  cursor: pointer;
}
h3 {
  margin: 1px;
  font-family: var(--primary-font);
  font-weight: lighter;
  font-size: 22px;
}
.image-container {
  /* border: 1px solid red; */
  width: 814px;
  height: 648px;
  margin: 18px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container p {
  margin: 1px;
  font-family: var(--primary-font);
  font-weight: lighter;
  color: var(--hover-text-color);
  font-size: 22px;
}
.learn-btn {
  color: #f54e00;
  border: none;
  background: none;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 1px;
  padding: 0;
  font-family: var(--primary-font);
  font-weight: lighter;
  cursor: pointer;
}
.learn-btn:hover {
  color: #b83b00;
}
#section2 .image-container {
  background-image: url(images/birds-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
#section3 .image-container {
  background-image: url(images/grayish-bg.png);
  background-size: contain;
  background-repeat: repeat-y;
}
#section4 .image-container {
  background-image: url(images/sea-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews-container {
  /* border: 1px solid white; */
  max-width: 1300px;
  margin: 120px auto; /* Big spacing from section above */
  padding: 0 24px;
}
.reviews-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  margin: 65px 245px;
}
.review-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* margin: 404px; */
  margin-bottom: 140px;
}

.card {
  background-color: var(--secondary-bg);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: lighter;
  color: var(--primary-text-color);
  margin-left: 9px;
  margin-right: 9px;
}

.person-detail {
  /* border: 1px solid purple; */
  margin: 9px;
  display: flex;
  align-items: center;
  gap: 2px;
  height: 42px;
}
.person-detail img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}
person-detail .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-detail h6 {
  color: var(--primary-text-color);
  font-size: 0.95rem;
  font-weight: 100;
  margin: 0;
}

.person-detail .title {
  color: #8e8e8e;
  font-size: 0.85rem;
  margin: 0;
}
.features-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  /* border: 1px solid blue; */
}

.features-section h2 {
  margin-left: 18px;
  font-size: 26px;
  font-weight: 400;
  color: var(--primary-text-color);
}
.feature-card-container {
  display: flex;
  margin: 18px;

  border-radius: 4px;
}

.feature-card {
  margin: 4px;
  background-color: var(--secondary-bg);
  padding: 18px;
  border-radius: 4px;
  padding: 12px;
}
.feature-card h3 {
  margin: 0;
  font-size: 16px;
  color: var(--primary-text-color);
}
.feat-emphasis {
  font-size: 16px;
  margin: 0;
  color: #8e8e8e;
}
.feature-card .learn-btn {
  margin-top: 18px;
}
.feature-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 409px;
  width: 391px;
  border-radius: 4px;
  margin-top: 16px;
}
#cont-1 {
  background-image: url(images/brownish-card-bg.png);
}
#cont-2 {
  background-image: url(images/redish-card-bg.png);
}
#cont-3 img {
  width: 391px;
  height: 391px;
  border-radius: 4px;
}
.changelog-container {
  width: 1300px;
  margin: auto;
}
.changelog-container h2 {
  font-size: 26px;
  font-weight: lighter;
  margin-top: 0;
}
.changelog-cards {
  display: flex;
  gap: 6px;
}
.changelog-container .learn-btn {
  margin-top: 25px;
}
.change-card {
  background-color: var(--secondary-bg);
  /* color: red; */
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.change-card:hover {
  background: #201e18;
}
.change-card time {
  color: #8e8e8e;
  display: flex;
  align-items: center;
}
.change-desc {
  color: #edecec;
}
.change-card time span {
  border: 1px solid #8e8e8e;
  padding: 2px;
  border-radius: 9999px;
  height: 23px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.join-us-cta {
  display: flex;
  /* border: 1px solid red; */
  margin-top: 100px;
  height: 520px;
  background: var(--secondary-bg);
  width: 1300px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 4px;
}
.join-us-cta .text-container {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
}
.join-us-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-us-image img {
  height: 472px;
  width: 840px;
  border-radius: 4px;
}

.highlights-parent {
  background: var(--secondary-bg);
  height: 600px;
  margin-top: 100px;
}
.highlights-container {
  /* border: 1px solid gold; */
  background: var(--secondary-bg);

  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  padding: 0px;
  gap: 8px;
}
.highlight-text-container {
  width: 30%;
}
.highlight-text-container h2 {
  color: var(--primary-text-color);
  font-weight: normal;
  margin-top: 40px;
  font-size: 18px;
}

.highlight-cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin-top: 50px;
}

.highlight {
  padding: 12px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background: #201e18;
}
.highlight:hover {
  background: #26241e;
}
.highlight-head {
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: regular;
}
.highlight-body-txt {
  color: #8e8e8e;
}
.highlight span {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: regular;
}
.highlight {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: regular;
}
.final-cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
}
.final-cta-section h2 {
  color: var(--primary-text-color);
  font-size: 72px;
  font-weight: regular;
}
.cta-btn {
  background-color: var(--cta-btn-bg);
  border: none;
  height: 44px;
  margin-top: 12px;
  width: 230px;
  border-radius: 33px;
  font-size: 16px;
  cursor: pointer;
}
.cta-btn:hover {
  background-color: var(--cta-btn-hover-bg);
}
footer {
  background: var(--secondary-bg);
  padding-top: 80px;
  padding: right 60px;
}

.foot-box-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 80px;
}

.foot-box h3 {
  color: #8e8e8e;
  font-size: 14px;
  margin-left: 40px;
  font-weight: regular;
}
.foot-box ul {
  list-style: none;
}
.foot-box a {
  text-decoration: none;
  text-align: left;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: regular;
}
.final-container {
  display: flex;

  padding-bottom: 20px;
  justify-content: space-between;
}
.left {
  display: flex;
  gap: 20px;
  margin-left: 18px;
}
.final-container small {
  color: #8e8e8e;
  cursor: pointer;
}
.final-container small:hover {
  color: var(--primary-text-color);
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 18px;
}
.btn-box {
  border: 1px solid #8e8e8e;
  border-radius: 43px;
  font-size: smaller;
  width: 120px;
  display: flex;
  justify-content: space-around;
}
.right small {
  font-size: small;
}
.lang {
  border: 1px solid #8e8e8e;
  border-radius: 43px;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}
